In [0]:
import pandas as pd
import os
Data =[["Apolo","Chris","A+","1234"],
        ["Kims","Tom","B+","5678"]]
pd.DataFrame(Data,columns=["Hospital_Name","Donor_Name","Blood_Group","Phone_Number"],index = ["1","2"])
count = 2

In [4]:
#If Admin wants to add details
a=input("Do u want to ADD Details?\n Enter Yes or No ")
if(a=='Yes'):
        add=[input('Enter Hospital_Name:'),input('Enter Donor_Name:'),input('Enter Blood_Group:'),input('Enter Phone_Number:')]
        Data.append(add)
        df = pd.DataFrame(Data)
        count+=1
else:
    print('EXIT\n')

print(df)

Do u want to ADD Details?
 Enter Yes or No Yes
Enter Hospital_Name:a
Enter Donor_Name:b
Enter Blood_Group:c
Enter Phone_Number:1
       0      1   2     3
0  Apolo  Chris  A+  1234
1   Kims    Tom  B+  5678
2      a      b   c     1

In [5]:
df

       0      1   2     3
0  Apolo  Chris  A+  1234
1   Kims    Tom  B+  5678
2      a      b   c     1

In [6]:
#Getting Details of Users
Blood_Group = input('Enter Blood_Group:')    #For Getting Required Blood Group
for i in range(len(Data)):
    if(Data[i][2] == Blood_Group):
             print(Data[i][0],Data[i][1],Data[i][2],Data[i][3])

if(Blood_Group == 'AB-' ):                #Printing the Rarest Blood Group
        print(Blood_Group + " is the Rarest Blood Group")  
else:
        print(Blood_Group + " is not the Rarest Blood Group")

Enter Blood_Group:A+
Apolo Chris A+ 1234
A+ is not the Rarest Blood Group

In [0]:
Hospital_Name = input('Enter Hospital_Name:')  #For Getting Detail in Particular Hospital
for i in range(len(Data)):
    if(Data[i][0] == Hospital_Name):
            print(Data[i][0],Data[i][1],Data[i][2],Data[i][3])